.cdk-virtual-scroll-viewport {
  width: 100%;
  overflow-y: auto;
}

.cdk-drag-preview {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.cdk-drag-placeholder {
  opacity: 0.1;
}


